body{
    width: 960px;
    margin: 0px auto;
    color: rgb(104, 104, 104);
}
.main-content{
    padding: 20px;
}

#header > a:hover{
    text-decoration: none !important;
}
#left-panel{
}
.left-panel-inner{
    padding: 10px;
}
#left-panel.span3{
    margin-left: 0px !important;
    min-height: 400px;
    background: rgb(248, 248, 248);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.main-content{
    padding: 10px;
}

.body-wrapper{
    padding-top: 20px;
}
#footer{
    min-height: 100px;
    background: gray;
    text-align: right;
    margin-top: 20px;
    padding: 10px;
    background: rgb(248, 248, 248);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}
.clearfix{
    clear: both;
}
.messages{
    padding-bottom: 10px;
}
