{% extends "base.html" %}

{% block content %}
        Dodaj komentarz
<form action="{% url 'add_comment' entryid %}" method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="column">
        <div style="max-width: 400px;">
            <textarea style="min-height: 200px;" required="required" rows="20" name="content" class="max-width" placeholder="Write something..."></textarea></br>
        </div>
    </div>
    <div class="column">
        <button id="add" type="submit" class="btn">Add entry</button>
    </div>
</form>
{% endblock %}