{% extends "base.html" %}
{% block content %}
    <div class="text-center">
                <form action="" method="POST" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            {{ form.as_p }}
        <div class="column">
            <div class="has-button">
                        <button type='submit' class="small button" >Register</button>
       </div>
        </div>
                </form>
    </div>
{% endblock %}