{% extends "base.html" %}

{% block content %}
<div class='rispons'></div>

{% for entry in entries %}
<div class='entry'>
    <div>{{ entry.title }}</div>
    <div>{{ entry.text }}</div>
    <div>{{ entry.date }}</div>
    <a href="{% url 'view_entry' entry.pk %}">Show details</a>
    <hr>
</div>

{% endfor %}

        {{ res }}
{% endblock %}