{% extends "base.html" %}

{% block content %}

    <div>{{ entry.title }}</div>
    <div>{{ entry.text }}</div>
    <div>{{ entry.date }}</div>
<hr>

        <b>Comments:</b>
    {% for comment in comments %}
        <div>
            <div>Content:
                {{ comment.content }}
            </div>

            <div>
                By: {{ comment.author }}
            </div>
            <br/>
        </div>
    {% endfor %}

<a href="{% url 'add_comment' entry.pk %}">Dodaj komentarz</a>

{% endblock %}