{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function(){
        $('form').submit(function(e){
            e.preventDefault();
            var calc_input = $('.calc_input').val();
            Dajaxice.apka.sayhello(my_js_callback, {'data' : calc_input});
            $('.wynik').html('Loading wynik...')
        });

        window.setInterval(function(){
            Dajaxice.apka.servers_list(my_js_callback2);
            console.log('List refreshed');
        }, 4000);
    });



    function my_js_callback(data){
        $('.wynik').html(data.message);
    }
    function my_js_callback2(data) {
        elems = $('<div></div>');

        if(data.success) {
            $.each(data.message, function() {
                elems.append($('<div></div>').html(this.value.host + ' (' + this.value.operator + ') <hr />'))
            });

            $('.server_list').html(elems)

        }
        else
            $('.server_list').html(data.message)


    }

</script>

        {{result}}

<form action="{% url 'calc_site' %}" method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="column">
        <div style="max-width: 200px;">
            <form>
                <input required="required" type="text" class='calc_input' name="calc_input" placeholder="Title"></br>
                <button class='baton' id="add" type="submit" class="btn">Calculate</button>

            </form>
        </div>
    </div>
    <div class="column">
    </div>
    <div class="column">
        <div class='wynik'></div>

        <!--<button class='baton' onclick="Dajaxice.apka.sayhello(my_js_callback);">Click me</button>-->
    </div>
    <b>Dostępne serwery: </b><br/>
    <div class='server_list'>

        Loading servers list...
    </div>


</form>
{% endblock %}