<!DOCTYPE html>

<html>
    <head>
        {% load dajaxice_templatetags %}
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% url 'staticfiles' 'css/style.css'%}">
        <title>DjangoApp Paweł Zawadzki</title>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="{% url 'staticfiles' 'dajax/jquery.dajax.core.js'%}"></script>
        {% dajaxice_js_import %}

        <style type="text/css">
            .wynik {
                margin: 20px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>

        <div class='body-wrapper'>
            <div id='header'>
                <a href="{% url 'home' %}"><h1>DjangoApp Paweł Zawadzki</h1></a>
                <hr>
            </div>
            <div id="left-panel" class="span3">
                <div class='left-panel-inner'>
                    Left panel
                    {% block leftpanel %}

                    {% endblock %}

                </div>
            </div>
            <div class='main-content span9'>
                <div class='messages'>
                    <div class="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <div {% if message.tags %} class="label label-{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>




                {% block content %}

                {% endblock %}
            </div>
            <div class="clearfix"></div>
            <div id="footer">
                Copyrajt
            </div>
        </div>
    </body>
</html>